@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* @apply bg-background; */
        --background: 45 26% 91%;
        --secondary: 163 70% 25%;
        --tertiary: 187 59% 16%;
    }
}

.noise-10 {
    background-image: url("./assets/noise-10.png");
}

input[type="file"] {
    display: none;
}

.tiny-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #0000;
}

/* width */
.tiny-scrollbar::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
